node_modules/
playwright-report/
test-results/
.env
*.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/dist/
*.js.map
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
